@model MVCBasics.Models.Person

<div class="row align-items-start p-2 border-top border-secondary">
    <div class="col ">
        <strong>
            @Model.Id
        </strong>
    </div>
    <div class="col">
        @Model.Name
    </div>
    <div class="col">
        @Model.City.Name
    </div>
    <div class="col">
        @Model.PhoneNumber
    </div>
    <!-- känns som att jag bryter någon helig regel genom att ha delete knappen här men vet inte annars hur det ska lösas. ¯\_(ツ)_/¯ -->
    <div class="align-self-end">
        <a class="btn btn-outline-danger" asp-controller="People" asp-action="Delete" asp-route-id="@Model.Id">
            Delete (not ajax)
        </a>
    </div>
</div>