@using MVCBasics.ViewModels
@model MVCBasics.ViewModels.CountryViewModel

<section class="container mt-5">
    <div class="card">
        <header class="card-header">
            <div class="d-flex ">
                <h4 class="float-start">@Model.Name <small>@Model.Id</small></h4>
                <a class="btn btn-danger btn-outline-danger float-end" asp-controller="City" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </div>
        </header>
        <div class="card-body">
            <p class="card-text"><strong>Country Name:</strong> @Model.Name</p>
        </div>
        @{
            var editVm = new UpdateCountryViewModel{Id = Model.Id, Name = Model.Name };
        }
        <partial name="_UpdateCountryFormPartial" model="@editVm"/>
    </div>
</section>