@using MVCBasics.ViewModels
@model List<MVCBasics.Models.City>

<section>
    <header>
        <h1>Cities</h1>
    </header>
    @{
        var createCityVm = new CreateCityViewModel();
        //var searchPersonVm = new SearchPersonViewModel();
    }
    <section class="mt-5">
        <header class="d-flex justify-content-between flex-wrap">
            <h2>
                List of Cities
            </h2>
        </header>
        <partial name="_CreateCityPartial" model="@createCityVm"></partial>
        <section class="w-auto p-2">
            <table class="table table-striped table-bordered">
                <thead>
                <th>#</th>
                <th>Name</th>
                <th>Population</th>
                <th>Country</th>
                </thead>
                <tbody>
                @foreach (var city in Model)
                {
                    <tr>
                        <td>@city.Id</td>
                        <td> <a asp-route-id="@city.Id" asp-controller="City" asp-action="CityView">@city.Name</a></td>
                        <td>0</td>
                        <td>@city.Country.Name</td>
                        <td>
                            <a class="btn btn-outline-danger" asp-controller="City" asp-action="Delete" asp-route-id="@city.Id">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
                </tbody>

            </table>

        </section>
    </section>
</section>