@model MVCBasics.Models.Person

<div class="row align-items-start p-2 border-top border-secondary">
    <div class="col ">
        <strong>
            @Model.Id
        </strong>
    </div>
    <div class="col">
        <a asp-controller="People" asp-action="PersonView" asp-route-id="@Model.Id">@Model.Name</a>
    </div>
    <div class="col">
        @Model.PhoneNumber
    </div>
    <div class="align-self-end">
        <a class="btn btn-outline-danger" asp-controller="People" asp-action="Delete" asp-route-id="@Model.Id">
            Delete
        </a>
    </div>
</div>